@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600;700&display=swap");

*{
  margin: 0;
  box-sizing: border-box;
  font-family: "karla",sans-serif;
  color: rgb(45, 43, 43);
}

/** MAIN **/
.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  gap: 10px;
}

.main--title{
  font-size: 4rem;
}
.main-sub-title{
  font-size: 1.2rem;
}
.main-button{
  width:150px;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 40px; 
  background-color: #4d5b9e;;
  cursor: pointer;
  color: aliceblue;
  padding: 10px 20px;
  border-radius: 0.5rem;
  transition: 0.2s ease-in;
}
.main-button:hover{
  transform: scale(1.1);
  background-color: #6475c7;
}